/* Default Sidenav Style (Desktop) */
.sidenav {
    height: 100%; /* Full height */
    width: 0; /* Start with 0 width */
    position: fixed; /* Fixed position */
    z-index: 9999; /* Highest priority to stay above other elements */
    top: 0;
    left: 0;
    background-color: #111; /* Black background */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.5s; /* Smooth transition effect */
}

/* Navigation links */
.sidenav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 18px;
}

.sidenav a:hover {
    color: #dedede;
    background-color: #34495e;

}

/* Close button */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 
}

/* Open button styling */
span {
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
}

/* Page content */
#main {
    padding: 20px;
}

/* Mobile-specific style: Full-screen sidenav on smaller screens */
@media screen and (max-width: 768px) {
    .sidenav {
        width: 100%; /* Full screen on mobile devices */
    }
}
