html{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;  
}
@font-face {
    font-family: 'AmericanCaptain';
    src: url(/Fonts/AmericanCaptain-MdEY.otf);
}
@font-face {
    font-family:'Bloopoly' ;
    src: url(/Fonts/Bloopoly-PV3WZ.ttf);
}
@font-face {
    font-family: 'Pasti';
    src: url(/Fonts/PastiRegular-mLXnm.otf);
}
@font-face {
    font-family: 'Tak';
    src: url(/Fonts/TakCubit-2vWjw.ttf);
}
@font-face {
    font-family: 'Warsaw';
    src: url(/Fonts/WarsawGothicSuperextended-0qWv.otf);
   
}
 @font-face {
    font-family: 'RC';
    src: url(/Fonts/RcRocketRegular-0WVW9.otf);
}
/* @font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
}  */
html{
  font-family: 'AmericanCaptain';
    /* font-family: 'Bloopoly'; */
    font-family: 'Pasti';
    
    font-family: 'Warsaw'; 
    letter-spacing: 0.5px;

     font-family: 'Tak';
    
}
body {
   
 
    /* font-family: ''; 
    font-family: ''; 
    font-family: ''; 
    font-family: '';   */

   

    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease;
    min-height: 100%;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

main {
    padding: 20px;
}

h1 {
    color: #02e901;
}

.wrapper {
    padding-bottom: 150px; /* Height of the footer */
}

/* From Uiverse.io by gagan-gv */ 
.btn {
    display: block;
    padding: 0.7em 1em;
    background: transparent;
    outline: none;
    border: 0;
    color: #d4af37;
    letter-spacing: 0.1em;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  
  .cube {
    position: relative;
    transition: all 0.5s;
  }
  
  .cube .bg-top {
    position: absolute;
    height: 10px;
    background: #d4af37;
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
    transition: all 0.4s;
  }
  
  .cube .bg-top .bg-inner {
    bottom: 0;
  }
  
  .cube .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: #d4af37;
    transition: all 0.4s;
  }
  
  .cube .bg-right {
    position: absolute;
    background: #d4af37;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
    transition: all 0.4s;
  }
  
  .cube .bg-right .bg-inner {
    left: 0;
  }
  
  .cube .bg-inner {
    background: #28282d;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
  }
  
  .cube .text {
    position: relative;
    transition: all 0.4s;
  }
  
  .cube:hover .bg-inner {
    background: #d4af37;
    transition: all 0.4s;
  }
  
  .cube:hover .text {
    color: #28282d;
    transition: all 0.4s;
  }
  
  .cube:hover .bg-right,
  .cube:hover .bg,
  .cube:hover .bg-top {
    background: #28282d;
  }
  
  .cube:active {
    z-index: 9999;
    animation: bounce 0.1s linear;
  }
  
  @keyframes bounce {
    50% {
      transform: scale(0.9);
    }
  }
  
.cube a{
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .wrapper{
        font-weight: 550;
    }
    footer {
        padding: 5px 0;
        height: auto;
        font-size: 16px;
        font-weight: 900;
        margin-top: 0;
    }
}